/* Reset default margin and padding */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Center the content */
.container {
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.search-form {
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 15px;
}

.form-control {
  padding: 10px;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #0056b3;
}

/* Show elements based on conditions */
.temp-info {
    display: block;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-detail {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.label {
  font-weight: bold;
}

/* Spinner animation */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
.disNone{
    display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
