<form [formGroup]="weatherForm">
  <div class="container">
    <h1>Weather Information</h1>
    <div class="search-form">
      <div [ngClass]="isError ? 'error-message' : 'disNone'">{{errorMsg}}</div>
      <div [ngClass]="isApiError ? 'error-message' : 'disNone'">{{apiErrorMsg}}</div>
      <div class="input-wrapper">
        <input id="searchInput" type="text" placeholder="Enter the city name" formControlName="cityName"
          class="form-control">
      </div>
    </div>
    <div class="search">
      <button type="submit" class="search-btn" (click)="onSubmit()">Search</button>
    </div>

    <div class="temp-info" *ngIf="showLoading">
      <div class="spinner"></div>
    </div>
    <div class="temp-info" *ngIf="!showLoading && isSubmit && !isError && !isApiError">
      <h2>Weather Details</h2>
      <div class="weather-details">
        <div class="weather-detail">
          <span class="label">Max. Temp:</span>
          <span class="value">{{ temp_max }}°C</span>
        </div>
        <div class="weather-detail">
          <span class="label">Min. Temp:</span>
          <span class="value">{{ temp_min }}°C</span>
        </div>
      </div>
    </div>
    <div class="dark-mode-toggle">
      <label class="switch">
        <input type="checkbox" (change)="toggleDarkMode($event)">
        <span class="slider round"></span>
      </label>
      <span>Dark Mode</span>
    </div>
  </div>
</form>
