/* Reset default margin and padding */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Center the content */
.container {
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.search-form {
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 15px;
}

.form-control {
  padding: 10px;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #0056b3;
}

/* Show elements based on conditions */
.temp-info {
    display: block;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-detail {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.label {
  font-weight: bold;
}

/* Spinner animation */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
.disNone{
    display: none;
}
/* Add styles for dark mode */
.dark-mode-toggle {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #333;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  /* Dark mode styles */
  .container.dark-mode {
    background-color: black !important; /* Set background color to black */
    color: #fff; /* White text color */
  }
  
  .dark-mode h1 {
    color: #fff; /* White color for the heading */
  }
  .dark-mode .form-control {
    background-color: #666;
    border: 1px solid #444;
    color: #fff;
  }
  
  .dark-mode .search-btn {
    background-color: #444; /* Darker button color */
  }
  
  .dark-mode .form-control::placeholder {
    color: #fff; /* Set placeholder color to white */
  }
  
  .dark-mode .dark-mode-toggle span {
    color: #fff; /* Set dark mode toggle text color to white */
  }
  
  

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
